video {
    position: absolute;
    left: 0;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background: $light-gray;
    background-size: cover;
}

video + figcaption {
    position:  absolute;
    bottom: 10px;
    right: 10px;
    background: black;
    background: rgba(0,0,0,0.9);
    color: white;
    font-size: 1.2rem;
    padding: 3px 6px;
    opacity: 0.35;
    transition: $transition;

    &:hover {
        opacity: 1;
    }
}

.video-fallback {
    position: absolute;
    left: 0;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background-size: cover;
}